<template>
    <div class="w-full">
        <SiteLoading v-if="loading"/>
        <div
            v-if="!loading"
            class="py-10"
        >
            <table class="table-fixed w-full">
                <thead>
                    <tr>
                        <th class="w-3/4 px-4 py-2 text-left">{{ $t('dashboard.admin.clients.name') }}</th>
                        <th class="w-1/4 px-4 py-2 text-left">View</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="client in clients"
                        :key="client.id"
                    >
                        <td class="border px-4 py-2">
                            {{ client.name }}
                        </td>
                        <td class="border px-4 py-2">Adam</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import SiteLoading from "../../SiteLoading";
    export default {
        name: "AdministratorClients",
        components: {
            SiteLoading
        },
        data() {
            return {
                loading: true,
                clients: [],
            };
        },
        methods: {
            async fetch() {
                const clients = await this.$axios.$get(`${this.$endpoints.user}`);
                this.clients = clients.data;
                this.loading = false;
            },
        },
        mounted() {
            this.fetch();
        },
    }
</script>
