<template>
    <div class="w-full py-10 px-4">
        This component is not yet available. Please log into Stripe directly.
    </div>
</template>

<script>
export default {
    name: "AdministratorRevenue",
}
</script>
