<template>
    <div class="w-full">
        <div class="container py-20 px-2">
            <ul class="flex">
                <li
                    v-for="tab in tabs"
                    :key="tab.name"
                    class="px-2 md:px-4 w-1/4 mb-12 md:mb-0 text-center leading-tight text-gray-600"
                    :class="{ 'active' : tabToShow === tab.name }"
                    @click.prevent="tabToShow = tab.name"
                >
                    <div class="text-4xl">
                        <font-awesome-icon :icon="tab.icon" />
                    </div>
                    <span class="text-sm">{{ tab.text }}</span>
                </li>
            </ul>
            <AdministratorClients v-if="tabToShow === 'clients'"/>
            <AdministratorRevenue v-if="tabToShow === 'revenue'"/>
        </div>
    </div>
</template>

<script>
import AdministratorClients from "./Administrator/Clients";
import AdministratorRevenue from "./Administrator/Revenue";
export default {
    name: "AdministratorDashboard",
    components: {
        AdministratorRevenue,
        AdministratorClients
    },
    data() {
        return {
            tabToShow: 'tickets',
        };
    },
    computed: {
        tabs() {
            return [
                {
                    text: this.$t('dashboard.admin.tabs.tickets'),
                    name: 'tickets',
                    icon: ['fal', 'ticket-alt'],
                },
                {
                    text: this.$t('dashboard.admin.tabs.stats'),
                    name: 'stats',
                    icon: ['fal', 'chart-pie'],
                },
                {
                    text: this.$t('dashboard.admin.tabs.clients'),
                    name: 'clients',
                    icon: ['fal', 'users'],
                },
                {
                    text: this.$t('dashboard.admin.tabs.revenue'),
                    name: 'revenue',
                    icon: ['fal', 'pound-sign'],
                },
            ]
        },
    },
}
</script>

<style lang="scss" scoped>
    .active {
        @apply text-gray-900;
    }
</style>
