<template>
    <div class="w-full">
        <div class="container py-20 px-2">
            <ul class="flex">
                <li
                    v-for="tab in tabs"
                    :key="tab.name"
                    class="px-2 md:px-4 w-1/4 mb-12 md:mb-0 text-center leading-tight text-gray-600"
                    :class="{ 'active' : tabToShow === tab.name }"
                    @click.prevent="tabToShow = tab.name"
                >
                    <div class="text-4xl">
                        <font-awesome-icon :icon="tab.icon" />
                    </div>
                    <span class="text-sm">{{ tab.text }}</span>
                </li>
            </ul>
            <ClientSettings v-if="tabToShow === 'settings'" />
        </div>
    </div>
</template>

<script>
    import ClientSettings from "./Client/Settings";
    export default {
        name: "ClientDashboard",
        components: {ClientSettings},
        data() {
            return {
                tabToShow: 'projects',
            };
        },
        computed: {
            tabs() {
                return [
                    {
                        text: this.$t('dashboard.client.tabs.projects'),
                        name: 'projects',
                        icon: ['fal', 'project-diagram'],
                    },
                    {
                        text: this.$t('dashboard.client.tabs.tickets'),
                        name: 'tickets',
                        icon: ['fal', 'ticket-alt'],
                    },
                    {
                        text: this.$t('dashboard.client.tabs.payments'),
                        name: 'payments',
                        icon: ['fal', 'pound-sign'],
                    },
                    {
                        text: this.$t('dashboard.client.tabs.settings'),
                        name: 'settings',
                        icon: ['fal', 'cogs'],
                    },
                ]
            },
        }
    }
</script>

<style lang="scss" scoped>
    .active {
        @apply text-gray-900;
    }
</style>
