<template>
    <div class="flex login content-center justify-center flex-wrap">
        <div class="w-full max-w-xs">
            <p class="leading-loose text-gray-700 text-sm text-center py-10">
                {{ $t('login.notice') }}
            </p>
            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="form-email">
                        Email Address
                    </label>
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="form-username"
                        type="text"
                        placeholder="your@email.co.uk"
                        v-model="email"
                    >
                </div>
                <div class="mb-6">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="form-password">
                        Password
                    </label>
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="form-password"
                        type="password"
                        placeholder="******************"
                        v-model="password"
                    >
                </div>
                <div class="flex items-center justify-between">
                    <button
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="button"
                        @click.prevent="login"
                    >
                        Sign In
                    </button>
                    <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="#">
                        Forgot Password?
                    </a>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Login',
    data() {
        return {
            email: '',
            password: '',
        };
    },
    methods: {
        async login() {
            await this.$auth.loginWith('local', {
                data: {
                    email: this.email,
                    password: this.password,
                }
            });
            this.$router.push('/dashboard');
        }
    }
}
</script>

<style lang="scss" scoped>
    .login {
        height: calc(100vh - 168px;)
    }
</style>
