<template>
    <div
        class="flex justify-center items-center hero-area"
        :class="`hero-area-${size}`"
    >
        <div class="text-center text-gray-200 z-20">
            <h1 class="text-4xl md:text-6xl">
                {{ title }}
            </h1>
            <h2 class="text-2xl md:text-3xl">
                {{ subtitle }}
            </h2>
        </div>
    </div>
</template>

<script>
export default {
    name: "HeroArea",
    props: {
        title: {
            type: String,
            required: true
        },
        subtitle: {
            type: String,
            default: null,
        },
        size: {
            type: String,
            default: 'normal'
        }
    }
}
</script>

<style lang="scss" scoped>
    .hero-area {
        background-color: #1d1c22;
        background-size: cover;
        background-position: center;
        background-image: url('~assets/images/hero-home-mobile.webp');
        clip-path: polygon(0 0, 100% 0, 100% 91%, 0 100%);
        text-shadow: 1px 1px 4px #000;

        @media (min-width: 640px) {
            clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
            background-image: url('~assets/images/hero-home-tablet.webp');
        }

        @media (min-width: 1100px) {
            clip-path: polygon(0 0, 100% 0, 100% 71%, 0 100%);
            background-image: url('~assets/images/hero-home-desktop.webp');
        }
    }

    .hero-area-short {
        min-height: 28vh;
    }

    .hero-area-normal {
        min-height: 59vh;
    }

    .hero-area-tall {
        min-height: 100vh;
    }
</style>
