<template>
    <div class="navigation fixed text-center rounded-b-lg p-2 text-gray-200 font-bold z-10">
        <NuxtLink
            v-for="nav in navigation"
            :key="nav.link"
            :to="{name: nav.link}"
            class="px-4"
        >
            <font-awesome-icon :icon="nav.icon" />
        </NuxtLink>
    </div>
</template>

<script>
export default {
    name: "SiteNavigation",
    computed: {
        // loggedIn() {
        //     return this.$store.state.auth.user;
        // },
        navigation() {
            return [
                {
                    icon: ['fal', 'home'],
                    link: 'index',
                },
                {
                    icon: ['fal', 'user'],
                    link: 'dashboard',
                },
            ]
        },
    }
}
</script>

<style lang="scss" scoped>
    .navigation {
        background-color: rgba(67, 61, 63, 0.6);
        right: 10px;
    }
</style>
