<template>
    <div class="text-4xl text-center py-20">
        <font-awesome-icon
            :icon="['fal', 'circle-notch']"
            class="loading"
        />
    </div>
</template>

<script>
    export default {
        name: "SiteLoading"
    }
</script>

<style lang="scss" scoped>
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .loading {
        animation: spin 2.5s ease-in-out infinite;
    }
</style>
