<template>
    <footer class="pt-32 px-4 md:px-10 pb-4 flex flex-wrap items-end text-gray-200 mb-0">
        <div class="w-1/2 text-left">
            <ul>
                <li>
                    <NuxtLink :to="{name: 'charities'}">
                        <small>{{ $t('footer.charities') }}</small>
                    </NuxtLink>
                </li>
                <li>
                    <NuxtLink :to="{name: 'terms'}">
                        <small>{{ $t('footer.terms') }}</small>
                    </NuxtLink>
                </li>
            </ul>
        </div>
        <div class="w-1/2 text-right">
            <small>{{ $t('footer.copyright_notice') }}</small>
        </div>
    </footer>
</template>

<script>
    export default {
        name: "SiteFooter"
    }
</script>

<style lang="scss" scoped>
    footer {
        background: #433d3f;
        background: linear-gradient(to right, #1c3540, #566b71);
        clip-path: polygon(0 0, 100% 12%, 100% 101%, 0 101%);

        @media (min-width: 640px) {
            clip-path: polygon(0 0, 100% 33%, 100% 101%, 0 101%);
        }

        @media (min-width: 1100px) {
            clip-path: polygon(0 0, 100% 67%, 100% 101%, 0 101%);
        }
    }
</style>
