<template>
    <div class="w-full">
        <HeroArea
            :title="$t('charities.hero.title')"
            :subtitle="$t('charities.hero.subtitle')"
        />
        <div class="container py-20 px-10">
            <div class="flex flex-wrap mb-20">
                <div class="w-full md:w-2/5 md:border-r border-gray-500">
                    <h3
                        class="text-3xl md:text-4xl text-left mb-1 leading-tight"
                        v-html="$t('charities.introduction.title')"
                    />
                    <hr class="w-1/5 border-t-4 mb-4"/>
                    <p class="leading-loose md:w-3/4">
                        {{ $t('charities.introduction.description') }}
                    </p>
                </div>
                <div class="w-full md:w-3/5 md:px-6 w-full flex flex-wrap items-center justify-center mt-10 md:mt-0">
                    <p class="mb-3 leading-loose">
                        If you run or work for a UK Registered Charity you may be eligible for a discounted rate on your project. There is no specific criteria, each
                        project is considered on a case by case basis, so please do get in touch and I'll see what I can do to help.
                    </p>
                    <form class="w-full max-w-lg mt-10">
                        <div class="flex flex-wrap -mx-3 mb-6">
                            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="form-name">
                                    {{ $t('home.contact.form.name') }}
                                </label>
                                <input
                                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                    id="form-name"
                                    type="text"
                                    :placeholder="$t('home.contact.form.name_placeholder')"
                                >
                            </div>
                            <div class="w-full md:w-1/2 px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="form-email">
                                    {{ $t('home.contact.form.email') }}
                                </label>
                                <input
                                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                    id="form-email"
                                    type="email"
                                    :placeholder="$t('home.contact.form.email_placeholder')"
                                >
                            </div>
                        </div>
                        <div class="flex flex-wrap -mx-3">
                            <div class="w-full px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="form-details">
                                    {{ $t('home.contact.form.details') }}
                                </label>
                                <textarea
                                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                    id=form-details
                                    :placeholder="$t('home.contact.form.details_placeholder')"
                                />
                            </div>
                        </div>
                        <div class="text-center">
                            <NuxtLink
                                :to="{name: 'terms'}"
                                class="text-sm"
                            >
                                {{ $t('home.contact.form.terms') }}
                            </NuxtLink>
                        </div>
                        <button class="text-sm w-full text-white font-bold py-2 px-4 rounded mt-5">
                            {{ $t('home.contact.form.submit') }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import HeroArea from "../../components/HeroArea";
export default {
    name: 'Charities',
    components: {
        HeroArea
    },
}
</script>

<style lang="scss" scoped>
    button {
        background-color: #433d3f;
        transition: background-color 150ms linear;

        &:hover {
            background-color: #201b2a;
        }
    }
</style>
