<template>
    <div class="w-full py-10 px-4">
        {{ user }}
        <button
            class="text-sm w-full text-white font-bold py-2 px-4 rounded mt-5"
            @click.prevent="logout"
        >
            Logout
        </button>
    </div>
</template>

<script>
    export default {
        name: "ClientSettings",
        computed: {
            user() {
                return this.$store.state.auth.user;
            },
        },
        methods: {
            async logout() {
                await this.$auth.logout();
                this.$router.push('/');
            }
        }
    }
</script>
