<template>
    <div>
        <SiteNavigation />
        <div class="w-full">
            <nuxt />
        </div>
        <SiteFooter />
    </div>
</template>

<script>
import SiteNavigation from "../components/SiteNavigation";
import SiteFooter from "../components/SiteFooter";

export default {
    components: {
        SiteFooter,
        SiteNavigation,
    }
}
</script>

<style lang="scss">
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

button {
    background-color: #433d3f;
    transition: background-color 150ms linear;

    &:hover {
         background-color: #201b2a;
    }
}
</style>
