<template>
    <div class="w-full">
        <HeroArea
            :title="$t('error.title')"
            :subtitle="$t('error.subtitle')"
        />
        <div class="container">
            <div class="flex flex-wrap mb-20 py-20 lg:py-40 px-10">
                <div class="w-full md:w-2/5 md:border-r border-gray-500">
                    <h3 class="text-3xl md:text-4xl text-left mb-1 leading-tight">
                        {{ $t('error.title') }}
                    </h3>
                    <hr class="w-1/5 border-t-4 mb-4"/>
                    <p class="leading-loose md:w-3/4">
                        {{ $t('error.notice') }}
                    </p>
                </div>
                <div class="w-full md:w-3/5 md:px-6">
                    <p class="mb-3">
                        {{ errorCode }}
                    </p>
                    <p class="mb-3">
                        This hash doesn't mean anything, it's just nice to show some random stuff sometimes!
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SiteNavigation from "../components/SiteNavigation";
import SiteFooter from "../components/SiteFooter";
import HeroArea from "../components/HeroArea";

export default {
    components: {
        HeroArea,
        SiteFooter,
        SiteNavigation,
    },
    computed: {
        errorCode() {
            return Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
        }
    }
}
</script>

<style lang="scss">
    html {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        word-spacing: 1px;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
        box-sizing: border-box;
        margin: 0;
    }

    .container {
        margin: 0 auto;
        max-width: 1200px;
    }

    button {
        background-color: #433d3f;
        transition: background-color 150ms linear;

        &:hover {
            background-color: #201b2a;
        }
    }
</style>
