<template>
    <div class="w-full">
        <HeroArea
            :title="$t('home.hero.title')"
            :subtitle="$t('home.hero.description')"
        />
        <div class="container py-20 px-10">
            <div class="flex flex-wrap mb-4">
                <div class="w-full md:w-2/5 md:border-r border-gray-500 text-gray-800">
                    <h3
                        class="text-3xl md:text-4xl text-left mb-1 leading-tight"
                        v-html="$t('home.technologies.title')"
                    />
                    <hr class="w-1/5 border-t-4 mb-4"/>
                    <p class="leading-loose text-left md:pr-12 lg:pr-32">
                        {{ $t('home.technologies.description') }}
                    </p>
                </div>
                <div class="w-full md:w-3/5 flex flex-wrap items-center justify-center text-xl mt-10 md:mt-0 text-gray-800">
                    <div
                        v-for="technology in technologies"
                        :key="technology.name"
                        class="px-2 md:px-4 w-1/2 md:w-1/4 mb-12 md:mb-0 text-center leading-tight"
                    >
                        <div class="text-4xl">
                            <font-awesome-icon :icon="technology.icon" />
                        </div>
                        <span class="text-sm">{{ technology.text }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="services py-20 lg:py-32">
            <div class="container py-16 md:py-20 lg:py-40 px-5 md:px-10 f mb-4 text-gray-200">
                <h3
                    class="text-3xl md:text-4xl md:text-left mb-4 leading-tight"
                >
                    {{ $t('home.why.title') }}
                </h3>
                <p class="leading-loose md:w-3/4">
                    {{ $t('home.why.description') }}
                </p>
                <div class="w-full flex flex-wrap items-center justify-center text-xl mt-10">
                    <div
                        v-for="reason in reasons"
                        :key="reason.name"
                        class="px-2 lg:px-4 w-1/2 md:w-1/4 mb-12 md:mb-0 text-center leading-tight"
                    >
                        <div class="text-3xl mb-3">
                            <font-awesome-icon :icon="reason.icon" />
                        </div>
                        <span class="text-sm">{{ reason.text }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-20 px-10">
            <div class="flex flex-wrap mb-4 text-gray-800">
                <div class="w-full md:w-2/5 md:border-r border-gray-500">
                    <h3
                        class="text-3xl md:text-4xl text-left mb-1 leading-tight"
                        v-html="$t('home.contact.title')"
                    />
                    <hr class="w-1/5 border-t-4 mb-4"/>
                    <p class="leading-loose text-left md:pr-12 lg:pr-32">
                        {{ $t('home.contact.description') }}
                    </p>
                    <p class="leading-loose text-left md:pr-12 lg:pr-32 mt-10 lg:mt-6">
                        {{ $t('home.contact.charity') }}
                    </p>
                </div>
                <div class="w-full md:w-3/5 flex flex-wrap items-center justify-center text-xl px-4 lg:px-0 mt-10 md:mt-0">
                    <form class="w-full max-w-lg">
                        <div class="flex flex-wrap -mx-3 mb-6">
                            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="form-name">
                                    {{ $t('home.contact.form.name') }}
                                </label>
                                <input
                                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                    id="form-name"
                                    type="text"
                                    :placeholder="$t('home.contact.form.name_placeholder')"
                                >
                            </div>
                            <div class="w-full md:w-1/2 px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="form-email">
                                    {{ $t('home.contact.form.email') }}
                                </label>
                                <input
                                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                    id="form-email"
                                    type="email"
                                    :placeholder="$t('home.contact.form.email_placeholder')"
                                >
                            </div>
                        </div>
                        <div class="flex flex-wrap -mx-3">
                            <div class="w-full px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="form-details">
                                    {{ $t('home.contact.form.details') }}
                                </label>
                                <textarea
                                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                    id=form-details
                                    :placeholder="$t('home.contact.form.details_placeholder')"
                                />
                            </div>
                        </div>
                        <div class="text-center">
                            <NuxtLink
                                :to="{name: 'terms'}"
                                class="text-sm"
                            >
                                {{ $t('home.contact.form.terms') }}
                            </NuxtLink>
                        </div>
                        <button class="text-sm w-full text-white font-bold py-2 px-4 rounded mt-5">
                            {{ $t('home.contact.form.submit') }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import HeroArea from "../components/HeroArea";
export default {
    name: 'Login',
    components: {
        HeroArea
    },
    data() {
        return {
            username: '',
            password: '',
        };
    },
    methods: {
        async login() {
            await this.$auth.loginWith('local', {
                data: {
                    email: this.username,
                    password: this.password,
                }
            });
            this.$router.push('/dashboard');
        },
    },
    computed: {
        technologies() {
            return [
                {
                    text: this.$t('home.technologies.laravel'),
                    name: 'laravel',
                    icon: ['fab', 'laravel'],
                },
                {
                    text: this.$t('home.technologies.vuejs'),
                    name: 'vuejs',
                    icon: ['fab', 'vuejs'],
                },
                {
                    text: this.$t('home.technologies.wordpress'),
                    name: 'wordpress',
                    icon: ['fab', 'wordpress'],
                },
                {
                    text: this.$t('home.technologies.digital_ocean'),
                    name: 'digitalOcean',
                    icon: ['fab', 'digital-ocean'],
                },
                {
                    text: this.$t('home.technologies.cpanel'),
                    name: 'cpanel',
                    icon: ['fab', 'cpanel'],
                },
                {
                    text: this.$t('home.technologies.git'),
                    name: 'git',
                    icon: ['fab', 'git-alt'],
                },
                {
                    text: this.$t('home.technologies.stripe'),
                    name: 'stripe',
                    icon: ['fab', 'stripe'],
                },
                {
                    text: this.$t('home.technologies.ubuntu'),
                    name: 'ubuntu',
                    icon: ['fab', 'ubuntu'],
                },
            ]
        },
        reasons() {
            return [
                {
                    text: this.$t('home.why.powerful'),
                    name: 'powerful',
                    icon: ['fal', 'charging-station'],
                },
                {
                    text: this.$t('home.why.timely'),
                    name: 'timely',
                    icon: ['fal', 'stopwatch'],
                },
                {
                    text: this.$t('home.why.bespoke'),
                    name: 'bespoke',
                    icon: ['fal', 'tools'],
                },
                {
                    text: this.$t('home.why.cost_effective'),
                    name: 'costeffective',
                    icon: ['fal', 'pound-sign'],
                },
            ]
        },
    },
}
</script>

<style lang="scss" scoped>

    hr {
        border-color: #433d3f;
    }

    .services {
        background: #433d3f;
        background: linear-gradient(to left, #1c3540, #566b71);
        clip-path: polygon(0 9%, 100% 0, 100% 91%, 0 100%);

        @media (min-width: 640px) {
            clip-path: polygon(0 14%, 100% 0, 100% 86%, 0 100%);
        }

        @media (min-width: 1100px) {
            clip-path: polygon(0 33%, 100% 0, 100% 67%, 0 100%);
        }
    }
</style>
