<template>
    <div class="w-full">
        <HeroArea
            :title="$t('terms.title')"
            :subtitle="$t('terms.description')"
        />
        <div class="container py-20 px-10">
            <div class="md:text-center mb-20 leading-loose">
                <p>{{ $t('terms.introduction.title') }}</p>
                <p>{{ $t('terms.introduction.term_updates') }}</p>
            </div>
            <div class="flex flex-wrap mb-20">
                <div class="w-full md:w-2/5 md:border-r border-gray-500">
                    <h3
                        class="text-3xl md:text-4xl text-left mb-1 leading-tight"
                        v-html="$t('terms.introduction.privacy')"
                    />
                    <hr class="w-1/5 border-t-4 mb-4"/>
                </div>
                <div class="w-full md:w-3/5 md:px-6">
                    <p class="mb-3">
                        Your data is your own. I under no circumstance sell, rent, distribute or provide access to any personal details to any third-party unless required by law.
                        All data processing, analysis and marketing is undertaken by myself. Your personal data is never going to be put in the hands of another company.
                    </p>
                    <p class="mb-3">
                        Some non-personal data such as your Operating System, Browser, Resolution or other "technical" data may be used to help me better understand how people
                        are using this site and its services, but none of that data is stored in relation to any personal data. It's all anonymous, absolutely no personal data
                        from your device or network is stored.
                    </p>
                </div>
            </div>
            <div class="flex flex-wrap mb-20">
                <div class="w-full md:w-2/5 md:border-r border-gray-500">
                    <h3
                        class="text-3xl md:text-4xl text-left mb-1 leading-tight"
                        v-html="$t('terms.introduction.security')"
                    />
                    <hr class="w-1/5 border-t-4 mb-4"/>
                </div>
                <div class="w-full md:w-3/5 md:px-6">
                    <p class="mb-3">
                        I can't disclose the levels, services, tools or measures I take to ensure your data is safe, that'd be rather daft, but rest assured securing your data against
                        unauthorised access is the single greatest priority I have. At no point is any personal or sensitive data stored in such a manner that it'll be easy to access.
                    </p>
                </div>
            </div>
            <div class="flex flex-wrap mb-20">
                <div class="w-full md:w-2/5 md:border-r border-gray-500">
                    <h3
                        class="text-3xl md:text-4xl text-left mb-1 leading-tight"
                        v-html="$t('terms.introduction.gdpr')"
                    />
                    <hr class="w-1/5 border-t-4 mb-4"/>
                </div>
                <div class="w-full md:w-3/5 md:px-6">
                    <p class="mb-3">
                        You're free to request all details & information I have on file by simply getting in touch with me. Your data is your own, and you have every right to know
                        exactly what it is I have, how I am using it and if you so wish, for that data to be permanently destroyed.
                    </p>
                </div>
            </div>
            <div class="flex flex-wrap mb-20">
                <div class="w-full md:w-2/5 md:border-r border-gray-500">
                    <h3
                        class="text-3xl md:text-4xl text-left mb-1 leading-tight"
                        v-html="$t('terms.introduction.access')"
                    />
                    <hr class="w-1/5 border-t-4 mb-4"/>
                </div>
                <div class="w-full md:w-3/5 md:px-6">
                    <p class="mb-3">
                        Access to this site and any services it provides is permitted at my sole discretion. I reserve the right to revoke your access to this site and the services I provide.
                    </p>
                    <p class="mb-3">
                        Attempting to access unauthorised areas, or accessing services & accounts not owned by yourself is an offence. Your details will be noted and should it be clear that
                        the necessary legal action is required, I will not hesitate to do so. Use this site with respect, be kind and thoughtful and everything will be fine.
                    </p>
                </div>
            </div>
            <div class="flex flex-wrap mb-20">
                <div class="w-full md:w-2/5 md:border-r border-gray-500">
                    <h3
                        class="text-3xl md:text-4xl text-left mb-1 leading-tight"
                        v-html="$t('terms.introduction.contact')"
                    />
                    <hr class="w-1/5 border-t-4 mb-4"/>
                </div>
                <div class="w-full md:w-3/5 md:px-6">
                    <p class="mb-3">
                        By getting in touch, or submitting a support ticket you're agreeing that I can store your contact details to ensure I can reply and offer any support as needed.
                    </p>
                    <p class="mb-3">
                        As stated in our Privacy section none of your details will be shared with third-parties. Your contact details won't be used for any other means then for me to contact you
                        when I need to. I won't be sending you any marketing nonsense, up-sells, new services or pester you with constant updates. You'll only get important and relevant information to
                        keep you informed about your project.
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import HeroArea from "../../components/HeroArea";

export default {
    name: 'Terms',
    components: {
        HeroArea
    },
}
</script>

<style lang="scss" scoped>
    hr {
        border-color: #433d3f;
    }
</style>
