<template>
    <div class="w-full">
        <HeroArea
            title="Your Dashboard"
            subtitle="Something"
            size="short"
        />
        <ClientDashboard v-if="user.role === 'client'"/>
        <AdministratorDashboard v-if="user.role === 'administrator'"/>
    </div>
</template>

<script>
import HeroArea from "../../components/HeroArea";
import ClientDashboard from "../../components/Dashboard/ClientDashboard";
import AdministratorDashboard from "../../components/Dashboard/AdministratorDashboard";
export default {
    name: 'Dashboard',
    middleware: 'unauthenticated',
    data() {
        return {
            clients: [],
        };
    },
    computed: {
        user() {
            return this.$store.state.auth.user;
        },
    },
    components: {
        AdministratorDashboard,
        ClientDashboard,
        HeroArea
    },
    // async asyncData({ app, store }) {
    //     const user = store.state.auth.user;
    //     let clients;
    //
    //     if (user.role === 'administrator') {
    //         clients = await app.$axios.$get(`${app.$endpoints.user}`);
    //     }
    //
    //     return {
    //         clients: clients ? clients.data : [],
    //     };
    // },
}
</script>

<style lang="scss" scoped>
</style>
